# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/

# Test/cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

.tmp.driveupload
.tmp.drivedownload
.vscode/